@import url('https://fonts.googleapis.com/css2?family=Anton&family=Secular+One&display=swap');


body {

font-family: 'Secular One', sans-serif
}

.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.heading {
  color:#008cff9a;
  font-size:50px;
  box-shadow: 0px 0px 10px #008cff9a;
}