$boardborder-color: #13243c;

$boardborder-width: 1px;

.column {
  font-size: 3em;
  font-weight: 900;
  padding: 3px;
  border: none;
  cursor: pointer;
  outline: none;
  background: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
  min-width: 100px;
  color: rgba(139, 9, 139, 0.582);
  font-family: 'Varela Round', sans-serif;
}

.xstyle {
  color: #3e92af;
}

.ostyle {
  color: $boardborder-color;
}
.border-bottom-right {
  border-right: $boardborder-width solid $boardborder-color;
  border-bottom: $boardborder-width solid $boardborder-color;
}

.border-bottom {
  border-bottom: $boardborder-width solid $boardborder-color;
}

.border-right {
  border-right: $boardborder-width solid $boardborder-color;
}
