.board {
  display: grid;
  grid-template-columns: repeat(3 , 4rem);
  grid-gap:20px;

  button {
    font-size: 30px;
    font-weight: 800;
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
        box-shadow: 0px 0px 10px #f5f5f5;
bord


    &:hover {
    
      box-shadow: 0px 0px 10px #f5f5f5;
    }
  }


}
